.page {
  min-height: 100vh;
  padding: var(--space-3);

  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  font-family: var(--font-main);
  color: var(--text-main);
}

/* Tablet: 768px */
@media (min-width: 48rem) {
  .page {
    padding: var(--space-4);
  }
}
