.podium {
  position: relative;
  width: min(900px, 92vw);
  margin: 90px auto 0;
}

.podiumImage {
  width: 100%;
  display: block;
  user-select: none;
  pointer-events: none;
}

.playerPosition {
  position: absolute;
  z-index: 2;
  width: clamp(85px, 16%, 150px);
  transform: translate(-50%, -100%);
}

.first {
  left: 52%;
  top: 42%;
}

.second {
  left: 20%;
  top: 48%;
}

.third {
  left: 86%;
  top: 50%;
}

@media (max-width: 700px) {
  .podium {
    width: 96vw;
    margin-top: 80px;
  }

  .playerPosition {
    width: clamp(75px, 20%, 110px);
  }

  .first {
    left: 52%;
    top: 42%;
  }

  .second {
    left: 20%;
    top: 48%;
  }

  .third {
    left: 86%;
    top: 50%;
  }
}
