.podium {
  position: relative;
  width: min(58rem, 100%);
  aspect-ratio: 16 / 7.2;
  margin: 0 auto;
}

.podiumImage {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  display: block;

  user-select: none;
  pointer-events: none;
}

.playerPosition {
  position: absolute;
  z-index: 2;

  width: 8rem;
  transform: translateX(-50%);
}
.first {
  left: 50%;
  top: 25%;
}

.second {
  left: 17%;
  top: 37%;
}

.third {
  left: 85%;
  top: 40%;
}

@media (max-width: 700px) {
  .podium {
    width: 100%;
    aspect-ratio: 16 / 8;
  }

  .playerPosition {
    width: 5.8rem;
  }

  .first {
    left: 51.4%;
    top: auto;
    bottom: calc(36% + 0.25rem);
  }

  .second {
    left: 16.9%;
    top: auto;
    bottom: calc(26.8% + 0.25rem);
  }

  .third {
    left: 84.4%;
    top: auto;
    bottom: calc(22.4% + 0.25rem);
  }
}

@media (max-width: 420px) {
  .playerPosition {
    width: 5.2rem;
  }
}
